pipeline/DynamicPipeline.json
{
	"name": "DynamicPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Active_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM ETL_Metadata_Control WHERE IsActive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Source_Dynamic_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Active_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Active_Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_SQL_To_CSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@{if(equals(item().LoadType,'FULL'), concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable), concat('SELECT * FROM ', item().SourceSchema, '.', item().SourceTable, ' WHERE ', item().IncrementalColumn, ' > ''', item().LastLoadDate, ''''))}",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SQL_Source_Dynamic_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Dynamic_Sink_DS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@concat(item().SourceTable, '_', formatDateTime(utcnow(),'yyyyMMddHHmmss'), '.csv')"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-27T18:49:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}